.link {
	fill: none;
	stroke: dodgerblue;
	stroke-width: 15px;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
}

#river-info {
	background-color: white;
	width: 30%;
	height: 800px;
	margin-right: 20px;
}

#river-info-and-image {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
}

#river-image {
	width: 30%;
	height: auto;
	margin-right: 50px;
}

#river-image img {
	width: 100%;
	height: auto;
}

#scheme-and-legend {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 20px;
}

#scrollable-container {
	width: 600px;
	height: auto;
	overflow: auto;
	margin-bottom: 20px;
}

#linear-scheme-svg {
	width: 100%;
	height: 100%;
}

#legend {
	background-color: white;
	width: 100%;
	height: 200px;
	padding-bottom: 20px;
}

#river-info,
#river-name {
	font-size: 18px;
}

#scheme-and-legend {
	font-size: 16px;
}

#river-search {
	font-size: 20px;
	font-weight: 600;
}

.search-title {
	text-transform: uppercase;
}
