.link {
	fill: none;
	stroke: dodgerblue;
	stroke-width: 15px;
}

@font-face {
	font-family: 'Montserrat';
	src: url('src/assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
}

#river-info {
	background-color: white;
	width: 30%;
	height: 800px;
	margin-right: 20px;
}

#river-info-and-image {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 20px;
}

#river-image {
	width: 30%;
	height: auto;
	margin-right: 50px;
}

#river-image img {
	width: 100%;
	height: auto;
}

#scheme-and-legend {
	width: 35%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	margin-left: 20px;
}

#scrollable-container {
	width: 600px;
	height: auto;
	overflow: auto;
	margin-bottom: 20px;
}

#linear-scheme-svg {
	width: 100%;
	height: 100%;
}

#legend {
	background-color: white;
	width: 100%;
	height: 200px;
	padding-bottom: 20px;
}

#river-info,
#river-name {
	font-size: 18px;
}

#scheme-and-legend {
	font-size: 16px;
}

#home {
	background-color: #000000;
	width: 100%;
	height: 100%;
	position: absolute;
}

#river-svg-logo {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 65%;
	height: 65%;
	background-image: url("@/assets/images/river-logo.svg");
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 0;

}

.search-title {
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 900;
	color: #ffffff;
	text-align: center;
	margin-top: 3%;
}

#river-search {
	font-size: 20px;
	font-weight: 600;
}

#river-search-container {
	display: flex;
	justify-content: center;
	width: 40%;
	z-index: 999;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#river-name-input {
	border-radius: 35px 30px 30px 35px;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: #f4f4f4;
	width: 55%;
	background-color: #b3b3b3;
	border-color: #ffffff;
	margin-right: 1%;
}

#river-name-input::placeholder {
	color: #f4f4f4;
	opacity: 0.7;
}

#confirm-river-button {
	border-radius: 35px 30px 30px 35px;
	text-align: center;
	cursor: pointer;
	font-size: 30px;
	font-weight: 700;
	width: 25%;
	color: #a9a9a9;
	background-color: #f4f4f4;
	border-color: #ffffff;
	margin-left: 1%;
}
